@model MyLocalBands.ViewModels.Albums.CreateAlbumInputModel
@{
    ViewData["Title"] = "Create new album";
}

<form method="post" id="my-form" class="col-md-8 offset-md-2" autocomplete="off" enctype="multipart/form-data">
    <h1>Create new album for...</h1>
    <label asp-for="Songs"></label>
    <div class="multi-field-wrapper">
        <div class="multi-fields">
            <div class="multi-field row my-3">
                <div class="col-md-1 pr-0">
                    <input type="hidden" name="Songs.Index" class="hidIndex" value="0" />
                    <input name="Songs[0].TrackNumber" placeholder="№" class="track-number track-input form-control text-center">
                </div>
                <div class="col-md-4 px-2">
                    <input name="Songs[0].Title" placeholder="Song title" class="track-title track-input form-control">
                </div>
                <div class="col-md-1 pl-0 pr-2">
                    <input name="Songs[0].Minutes" placeholder="Min" class="track-duration track-input form-control text-center">
                </div>
                <div class="col-md-1 pl-0 pr-2">
                    <input name="Songs[0].Seconds" placeholder="Sec" class="track-duration track-input form-control text-center">
                </div>
                <div class="col-md-4 pl-0">
                    <input name="Songs[0].YoutubeLink" placeholder="Youtube link" class="track-input form-control">
                </div>
                <button type="button" class="remove-field btn btn-danger px-3 ml-2 font-weight-bold">-</button>
            </div>
        </div>
        <button type="button" class="add-field btn btn-success float-right font-weight-bold">+</button>
    </div>

    <input type="submit" id="submit-button" class="btn btn-primary my-4" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
<script src="~/js/dynamicInputGenerator.js"></script>
<script src="~/js/dynamicFieldsValidator.js"></script>
