@model MyLocalBands.ViewModels.Artists.CreateArtistInputModel
@{
    ViewData["Title"] = "Create new artist";
}
<h1>Create new artist</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YearFormed"></label>
        <input asp-for="YearFormed" class="form-control" />
        <span asp-validation-for="YearFormed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Biography"></label>
        <textarea asp-for="Biography" class="form-control" rows="5"> </textarea>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" asp-items="@this.Model.Countries" class="form-control"> </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenreId"></label>
        <select asp-for="GenreId" asp-items="@this.Model.Genres" class="form-control"> </select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ArtistStatusId"></label>
        <select asp-for="ArtistStatusId" asp-items="@this.Model.ArtistStatuses" class="form-control"> </select>
        <span asp-validation-for="ArtistStatusId" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}